@charset "UTF-08";

*{font-family: 'Itim', cursive;
    font-family: 'Kalam', cursive;
    font-family: 'Open Sans', sans-serif;}

p{color: black; text-align: justify;}

h1{color: rgb(129, 40, 198); font-family:'Open Sans', sans-serif; font-size: 2em
    ; text-align: center; }

    h2{font-family: 'Kalam', cursive; color: rgb(5, 5, 5) 
        ;}

  
    
    

